.regform{
    width: 90%;
    height: 48vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.sideCard{
    width: 60%;
    height: 53vh;
    margin: auto;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
}
.sideCard p{
    text-align: center;
    color: rgb(69, 169, 215);
}
label{
    text-align: left;
}
.regform input{
    width: 95%;
    height: 35px;
    background-color: rgba(155, 218, 230, 0.459);
    border: 0;
    padding-left: 15px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.bigcard{
    padding-top: 35px;
}
.card{
    width: 60%;
    height: 85vh;
    margin: auto;
}
.card .logo{
    text-align: center;
}
.card h1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(69, 169, 215);
}

.sideCard p{
    text-align: center;
    color: rgb(69, 169, 215);
}
.sideCard p a{
    text-decoration: none;
    color: rgb(76, 77, 18);
}

@media only screen and (max-width: 1024px) {
    .regform{
        width: 90%;
        height: 55vh;
        margin: auto;
        background-color: rgb(255, 255, 255);
    }
    .sideCard{
        width: 60%;
        height: 60vh;
        margin: auto;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }
    .card .logo{
        margin-top: -35px;
        text-align: center;
    }
    .card h1{
        font-size: 40px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(69, 169, 215);
    }
}


@media only screen and (max-width: 768px) {
    .regform{
        width: 90%;
        height: 55vh;
        margin: auto;
        background-color: rgb(255, 255, 255);
    }
    .sideCard{
        width: 75%;
        height: 60vh;
        margin: auto;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }
    .card .logo{
        margin-top: -35px;
        text-align: center;
    }
    .card h1{
        font-size: 40px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(69, 169, 215);
    }
}


@media only screen and (max-width: 425px) {
    .regform{
        width: 90%;
        height: 55vh;
        margin: auto;
        background-color: rgb(255, 255, 255);
    }
    .sideCard{
        width: 150%;
        height: 60vh;
        margin: auto;
        margin-left: -59px;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }
    .card .logo{
        margin-top: -35px;
        text-align: center;
    }
    .card .logo span{
        font-size: 45px;
    }
    .card .logo p{
        font-size: 25px;
    }
    .card h1{
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(69, 169, 215);
    }
}



@media only screen and (max-width: 375px) {
    .regform{
        width: 90%;
        height: 55vh;
        margin: auto;
        background-color: rgb(255, 255, 255);
    }
    .sideCard{
        width: 160%;
        height: 60vh;
        margin: auto;
        margin-left: -65px;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }
    .card .logo{
        margin-top: -35px;
        text-align: center;
    }
    .card .logo span{
        font-size: 40px;
    }
    .card .logo p{
        font-size: 30px;
    }
    .card h1{
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(69, 169, 215);
    }
}


@media only screen and (max-width: 320px) {
    .regform{
        width: 90%;
        height: 55vh;
        margin: auto;
        background-color: rgb(255, 255, 255);
    }
    .sideCard{
        width: 160%;
        height: 60vh;
        margin: auto;
        margin-left: -55px;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }
    .card .logo{
        margin-top: -35px;
        text-align: center;
    }
    .card .logo span{
        font-size: 40px;
    }
    .card .logo p{
        font-size: 30px;
    }
    .card h1{
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(69, 169, 215);
    }
}